.root {
  width: min-content;
  height: min-content;
  padding: 10px 80px;
  background-color: #076bb2;
}
.przegladajPokoje {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
